.product-image {
  border: 1px solid rgb(253, 219, 205);
  padding: 25px;
  width: 230px;
  height: 350px;
}

.product-button {
  background-color: #fa947d;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.product-details {
  margin: 50px;
}
